
body{
    font-family: Arial, Helvetica, sans-serif;
    width: 900px;
    margin: auto;
}

h1{
    font-size: 30px;
    color: #045F9B;
}

a{
    text-decoration: none;
    color: black;
}

/* Coloca a imagem do logo a esquerda */
.header img{
    float: left;
    margin-right: 20px;
    height: 100px;
}

.header h1{
    font-size: 24px;
    text-align: center;
    height: 100px;
    line-height: 100px;
}

/* Configura o menu horizontal */
.menu{
    margin: auto;
    background-color: #082A3F;
    border-radius: 4px;
}

.menu ul{
    padding: 8px;
}

.menu ul li {
    display: inline;
}

.menu ul li a{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 5px;
}

.menu ul li a:hover{
    text-decoration: underline;
}

/* fim menu */

/* Configuração dos paineis da Home */

.home .painel_home{
    width: 260px;
    float: left;
    background-color: #A3DCFF;
    margin-left: 10px;
    padding: 15px;
    border-radius: 5px;
}

/*
.home .painel_home{
    width: 270px;
    float: left;
    background-color: #8ED2FC;
    margin-right: 10px;
    padding: 10px;
    border-radius: 4px;
}
*/

.home .painel_home h2{
    color: #045F9B;
    margin: 2px;

}
/* fim paineis home */

.footer{
    background-color: #082A3F;
    color: #AAAAAA;
    margin-top: 10px;
    padding: 20px;
}

table{
    color: #1e3c6b;
}

table tr td{
    padding: 8px;
}

table thead{
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #000661;
    color: #FFFFFF;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

.ex_lista {
    width: 600px;
    margin: auto;
}

.ex_lista ul{
    margin-left: 0px;
}
.ex_lista ul li{
    display: inline;
}

.chat{
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    color: #FFFFFF;
    background-color: #082A3F;
    border-radius: 20px;
}